.bg-success {
  background-color: #28a745 !important;
  color: #000;
}

.bg-danger {
  background-color: #dc3545 !important;
  color: #fff;
}

.bg-warning {
  background-color: #ffc107 !important;
  color: #000;
}

.bg-primary {
  background-color: #007bff !important;
  color: #fff;
}